@import url("satoshi.css");
@import url("integral.css");

:root {
  /*Colors*/
  --color-primary: #000000;
  --color-secondary: rgba(0, 0, 0, 0.6);
  --color-light: rgba(0, 0, 0, 0.4);
  --color-gray: #f0f0f0;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-border-light: rgba(0, 0, 0, 0.1);

  /*Typography*/
  --font-heading: "IntegralCF";
  --font-body: "Satoshi";
  --font-size-base-1: 1rem;
  --font-size-base-2: 1.25rem;
  --font-size-xl: 4rem;
  --font-size-lg: 3rem;
  --font-size-md: 2rem;
  --font-size-sm: 1.5rem;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base-2);
  color: var(--color-dark);
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  border-radius: 3.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  user-select: none;
}
.btn-primary {
  background-color: var(--color-primary);
  color: white;
}
.btn-secondary {
  background: transparent;
  color: black;
  border: 0.0625rem solid var(--color-border-light);
}
.button-sm {
  padding: 0.4rem 0.8rem;
  font-size: 0.875rem;
}

.button-md {
  padding: 1rem 3.375rem;
  font-size: 1rem;
}

.button-lg {
  padding: 0.9rem 1.5rem;
  font-size: 1.125rem;
}
.button-primary {
  background-color: var(--color-primary);
  color: white;
}
